certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
dask==2023.9.1
docopt==0.6.2
fsspec==2023.9.0
idna==3.4
importlib-metadata==6.8.0
keras==2.13.1
locket==1.0.0
packaging==23.1
partd==1.4.0
pipreqs==0.4.13
PyYAML==6.0.1
requests==2.31.0
toolz==0.12.0
urllib3==2.0.4
watchdog==3.0.0
yarg==0.1.9
zipp==3.16.2
