@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

}

body, html{
    color: #FFF;
    overflow-x: hidden;
}

body{
    background-color: rgb(29, 28, 28);
    width: 100vw;
}

main{
    background-color: rgb(29, 28, 28);
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
}
/*Cabeçalho*/

header{
    height: 120px;
    background-color: #162E58;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header > h1{
    align-self: flex-start;
    font-size: 1.1em;
    margin: 10px;
}

header nav{
    display: flex;
    gap: 20px;
}

header nav a{
    text-decoration: none;    
    font-size: 1.3em;
    color: #FFF;
    border: 2px solid transparent;
    transition: .5s;
}

header nav a:hover{
    border-bottom: 2px solid #FFF;
}


/*Fim do cabeçalho*/

/*Estilização da table*/

.shadowSection{
    box-shadow: 0px 7px 10px rgb(15 15 15 / 30%);    
    background-color: rgb(15, 15, 15);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

table, td, th{
    border-collapse: collapse;
    border-bottom: 1px solid #FFF;
    padding: 7px;
}

td{
    width: 100%;
}

td img{
    height: 20px;
}

table{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
}

.tableHead{
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
    color: gray;
}

.firstContent{
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.tituloSections{
    margin: 10px;
}

/*tabela dos jogadores*/

.firstContentJogador{
    display: inline-flex;
    gap: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.jogadorTime{
    padding-left: 35px;
    color: gray;
}

/*Estilização da tabela dos próximos jogos*/

.proxJogos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between  ;
    align-items: center;
    background-color: rgb(29, 28, 28);
    padding: 0;
}

.nomeClube{
    margin-left: 10px;
}

.proxJogos section{
    background-color: rgb(15, 15, 15);
    padding: 20px;
}
.proxJogos table, .proxJogos th, .proxJogos td{
    border: none;
}

.middleRowJogos{
    padding-right: 25px;
}

.middleRowJogos > div{
    background-color: inherit;
    border-top: 2px solid #FFF;
    border-left: 2px solid #FFF;
    transform: rotate(-45deg);
    height: 5px;
    width: 5px;
    position: relative;
    bottom: 12px;
    left: 15px;
}

/*Borda dos três primeiros lugares*/

.bordaAzul{
    border-left: 2px solid blue;
}

.bordaVermelha{
    border-left: 2px solid red;
}

/*Ícones do Fontawesome*/

.fa-circle-check{
    color: rgb(2, 77, 2);
    width: 12px;
}
.fa-circle-xmark{
    color: rgb(94, 11, 11);
    width: 12px;
}
.empate{
    color: rgb(53, 51, 51);
}

@media(max-width: 800px){
    main{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header nav a{
        font-size: 1em;
    }

    header nav{
        gap: 5px;
    }

    .shadowSection{
        width: 100%;
        margin: 0;
        border-radius: 0;
        overflow-x: scroll;
    }

    table{
        width: 100%;
        margin-right: 50px;
        min-width: 550px;
    }
}

@media(max-width: 450px){
    header nav a{
        font-size: 0.8em;
    }
    header nav{
        gap: 10px;
    }
}

@media(max-width: 1300px){
    .proxJogos > .shadowSection{
        width: 100%;
    }
}