.colunistas-perfil{
    height: 150px;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

header{
    background-color: #FF4655 !important;
    color: white;
    width: 100vw;
}

header nav a{
    font-weight: bold;
    color: #111111;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

header nav a:hover{
    background-color: #111111;
    color: #FF4655;
}

body{
    background-color: #111111 !important;
    color: #FFF !important;
}

.news-block h6{
    color: #FF4655;
}

.news-block h3{
    font-size: 1.5em;
}